# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Distribution / packaging
*.egg-info/

# MyPy / Ruff caches
.mypy_cache/

# OS metadata
.DS_Store 
/data/reference
/cache
